{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="cover">
          <div class="content front"></div>
          <div class="content back">
            <h2>My Babe</h2>
            <p>Pillu this is for you my love
                <br>
                A day without you feels like a year and a day with you passes in seconds, my dear.
                <br>
                Do you know how wonderful it is to wake up every day knowing I have you? You’re perfect. I love you.
                <br>
                These are not words today they are magic that u gave me Piu
            </p>
            <br>
            <div class="text-box">
                <a href="{% url 'Info' %}" class="btn btn-white btn-animate">Abhi kuch aur</a>
            </div>
          </div>
        </div>
      </div>

      <!--div class="card1">
        <div class="cover">
          <div class="content front"></div>
          <div class="content back">
            <h2>KaKashi Hatake</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe omnis reiciendis molestias temporibus mollitia libero earum, ea totam amet praesentium, atque voluptate in! Voluptatem praesentium tempora deleniti accusamus itaque! Laboriosam?</p>
          </div>
        </div>
      </div-->
</body>
</html>