* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4a784;
}

/*body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}*/

.text-box {
    margin-right: 100px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 15px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: rgb(245, 250, 250);
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 2s;
}

.btn-white::after {
    background-color: rgb(244, 245, 233);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 380px;
    background-image: url(https://images.unsplash.com/photo-1585768750637-ada36319a484?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fGxvdmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
    background-size: cover;
    background-position: center;
    perspective: 1000px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3), inset 3px -3px 10px rgba(0, 0, 0, .3);
    transition: .5s;
}

/*.card1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 380px;
    background-image: url(https://upload.cc/i1/2020/09/16/UngAiE.png);
    background-size: cover;
    background-position: center;
    perspective: 1000px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3), inset 3px -3px 10px rgba(0, 0, 0, .3);
    transition: .5s;
}*/

.card:hover {
    transform: translate(-50%, -50%) rotate(-5deg);
}

.card:hover .cover {
    transform: rotateY(-140deg);
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(0);
    transform-origin: left;
    transform-style: preserve-3d;
    transition: .5s;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content.front {
    background-image: url(https://images.unsplash.com/photo-1535615615570-3b839f4359be?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bG92ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
    background-size: cover;
    background-position: center -15px;
}

.content.back {
    /*background-color: rgb(199, 243, 38);*/
    background-image: url(https://images.unsplash.com/photo-1579546928937-641f7ac9bced?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJsdXIlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
    box-shadow: inset -3px -3px 10px rgba(0, 0, 0, .3);
    text-align: center;
    padding: 20px 15px;
    box-sizing: border-box;
    transform: rotateY(180deg);
}

.content.back h2 {
    margin-bottom: 20px;
}